/* header */
#header {
  height: 50px;
  border-bottom: 1px solid #eee;
  /*border-top: 6px solid #eee;*/
  text-align: center;
  margin: 0 0 1rem 0;
}

#header a, #header b {
  line-height: 50px;
  padding: 0 20px;
}

/* hide the example form */
div.hide {
  display: none;
}

/* phat form */
form {
  padding: 20px;
  font-size: 17px;
}

table.mutant-table tr td {
  padding: 0 1em 1em 0;
}

img {
  width: 100%;
}

#footer {
  margin-top: 2em;
  font-size: 0.8rem;
  color: #666;
  text-align: center;
}

/* mutant cards */

.sc {
  text-transform: uppercase;
  font-size: 44%;
  font-weight: bold;
}

/*heros*/

img.hero_img {
    width: 60%;
    padding: 2em; 
}

/*oligo design*/

form textarea#sequence_text {
  font-family: monospace;
  font-size: 12px;
  width: 100%;
  height: 10em;
}
