<!doctype html>
<html lang=en>
  <head>
    <title>Results</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link href="/static/dashboard.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Fitter</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/">Help</a></li>
            <li><a href="/simple">Simple plate entry</a></li>
            <li class="active"><a href="/batch">Batch entry</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Fit data to the Michaelis-Menten equation</h1>
          <p>To begin, drop your data file below</p>

          <form class="form-signin" action="" method=post enctype=multipart/form-data>
            <h2 class="form-signin-heading">Batch entry</h2>
            <label for="file">Your data (CSV format)</label>
            <input type="file" name="file" id="file" class="file" placeholder="Your data" required>
            <button class="btn btn-lg btn-primary btn-block submit-button" type="submit">Fit my data</button>
          </form>

        </div>
        </div>
      </div>
    </div>
  </body>
</html>
