{% extends "base.htm" %}
{% block title %}Enzyme Design Kit (EDK){% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<div class="container">
  <div class="hero">

    <div class="junk" style="height:2rem;"></div>

    <div style="text-align: center;">
      <h1>Enzyme Design Kit</h1>
      <p>Tools for rational enzyme design</p>
      <p>&nbsp;</p>


    <div class="row">
      <div class="col-4">
        <h3>Michaelis-Menten kinetics</h3>
        <img class="hero_img" src="/static/hero/kinetic.png">
        <p>
          Determine <em>k</em><sub>cat</sub> and K<sub>M</sub> by fitting data to the Michaelis-Menten equation
        </p>
        <a href="{{ url_for('kinetics') }}" class="btn btn-primary">Try it</a href>
      </div>
      <div class="col-4">
        <h3>Protein thermal stability</h3>
        <img class="hero_img" src="/static/hero/thermal.png">
        <p>
          Determine functional protein denaturation temperature using data from a kinetic assay
        </p>
        <a href="{{ url_for('thermal') }}" class="btn btn-primary">Try it</a href>
      </div>
      <div class="col-4">
        <h3>Mutagenic oligo design</h3>
        <img class="hero_img" src="/static/hero_kunkel.png">
        <p>
          Design mutagenic oligos for Kunkel mutagenesis
        </p>
        <a href="{{ url_for('oligo_design') }}" class="btn btn-primary">Try it</a href>
      </div>
    </div>

  </div> <!--  the centering div -->
  </div>
</div>
{% endblock %}
